# Public host
PUBLIC_HOST=202-155-132-98.domainesia.io
SSL_EMAIL=your-email@example.com

# Ports
HTTP_PORT=80
HTTPS_PORT=443

# Images
FRONTEND_IMAGE=ghcr.io/rivando-al-rasyid/portopolio-astro:latest
PAYLOAD_IMAGE=ghcr.io/rivando-al-rasyid/portopolio-backend:latest

# If your frontend image uses Nginx, keep 80.
# If it runs Astro Node directly, change to 4321.
FRONTEND_CONTAINER_PORT=80

# Postgres
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change_this_strong_password
POSTGRES_DEFAULT_DB=n8n
PAYLOAD_DB_NAME=payload
N8N_DB_NAME=n8n

# Payload
PAYLOAD_SECRET=change_this_payload_secret_at_least_32_chars
FRONTEND_ORIGIN=https://202-155-132-98.domainesia.io

# n8n
N8N_ENCRYPTION_KEY=change_this_n8n_key_at_least_32_chars
GENERIC_TIMEZONE=Asia/Jakarta
